.onliner-comparison-extension-popup-add-button,
.onliner-comparison-extension-list-page-add-button,
.b-offers button.onliner-comparison-extension-technical-page-add-button {
  background: #FFFFFF url('chrome-extension://__MSG_@@extension_id__/images/icons/16.png') no-repeat;
  cursor: pointer;
  font: 10px Tahoma,Verdana,Arial,sans-serif;
  padding: 1px 6px 1px 20px;
  border: 1px outset;
  height: 16px;
}

.b-offers button.onliner-comparison-extension-technical-page-add-button {
  margin: 3px 10px 0px 20px;
}

.onliner-comparison-extension-list-page-add-button {
  color: #007800;
  font-weight: bold;
}

.onliner-comparison-extension-list-page-add-button.state-remove,
.b-offers button.onliner-comparison-extension-technical-page-add-button.state-remove {
  background-color: #EFF4FD;
  color: #CB0003;
}

.onliner-comparison-extension-list-page-compare-button {
  margin: 10px 0px;
  display: block;
}