body {
  font-family: Verdana, Tahoma, Geneva;
  font-size: 10px;
  width: 310px;
  margin-right: 0px;
}

a {
  color: #034B83;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul.products {
  position: relative;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #CCC;
  margin-top: 10px;
  max-height: 400px;
  overflow: hidden;
  overflow-y: visible;
  padding-right: 8px;
}

ul.products li {
  position: relative;
  margin-top: 10px;
  border-bottom: 1px solid #CCC;
  display: inline-block;
}

ul.products li img {
  max-width: 80px;
  max-height: 80px;
  margin: 5px 10px 5px 0px;
}

ul.products li button.remove {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: -5px 0px 0px 0px;
  border: 1px outset;
  background: #FFFFFF;
}

ul.products li.status {
  margin-bottom: 10px;
  border: none;
  text-align: center;
  display: block;
}

ul.products li:last-child {
  border-bottom: 0px;
}

a.compare {
  float: right;
  margin-top: -5px;
  margin-right: 2px;
}