<!doctype html>
<html>
  <head>
    <title>Onliner - сравнение товаров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
     <link rel="stylesheet" href="../stylesheets/popup.css">
     <link rel="stylesheet" href="../stylesheets/content.css">

    <script src="../javascripts/popup.js"></script>
  </head>
  <body>
    
    <button class="onliner-comparison-extension-popup-add-button" title="Добавить для сравнения">+ Добавить</button>

    <a class="compare" href="http://catalog.onliner.by/compare/" target="_blank" title="Открыть сравнение в новой вкладке">
      <img src="http://catalog.onliner.by/pic/btn_compare.gif">
    </a>

    <ul class="products">
      <li class="status">Загрузка...</li>
    </ul>
    <label>
      <input type="checkbox" class="sync">
      Синхронизировать со страницей сравнения
    </label>

  </body>
</html>

