<!doctype html>
<html>
  <head>
    <title>Onliner - сравнение товаров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
     <link rel="stylesheet" href="../stylesheets/popup.css">
     <link rel="stylesheet" href="../stylesheets/button.css">

    <script src="../javascripts/popup.js"></script>
  </head>
  <body>
    
    <button class="onliner-comparison-extension-popup-add-button" title="Добавить для сравнения">+ Добавить</button>

    <ul class="products">
      <!--
      <li class="product" data-id="n56vvs4039h">
        <img src="http://content2.onliner.by/catalog/device/icon/6d5d0be4dd9cdfdc0ef9f0d8b7cc7edf.jpg" title="Ноутбук ASUS N56VV-S4039H" alt="Ноутбук ASUS N56VV-S4039H" align="left"/>
        <a href="http://catalog.onliner.by/asus/n56vvs4039h/" target="_blank" title="Открыть в новой вкладке">
          Ноутбук ASUS N56VV-S4039H
        </a>
        <p>15.6" (1920 x 1080), Intel Core i5 3230M, 4 Гб, 750 Гб (HDD), NVIDIA GeForce GT 750M 2 ГБ, DVD Multi, батарея 6 ячеек, цвет корпуса серебристый, цвет крышки черный</p>
        <button class="remove" title="Удалить из сравнения">&#10006;</button>
      </li>
      -->
    </ul>

    <a class="compare" href="http://catalog.onliner.by/compare/" target="_blank" title="Открыть сравнение в новой вкладке">
      <img src="http://catalog.onliner.by/pic/btn_compare.gif">
    </a>

  </body>
</html>

